# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment files
.env
.venv
ENV/
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore model files
*.pkl
*.pkl.gz

# Ignore data files
qm7.mat
